.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.collection-item {
  width: 30%;
  height: 240px;
  margin-bottom: 64px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #f5f5f5;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 100% 50%;
  background-size: cover;
  -webkit-transition: background-position 1500ms cubic-bezier(.19, 1, .22, 1);
  transition: background-position 1500ms cubic-bezier(.19, 1, .22, 1);
  text-align: left;
}

.collection-item:hover {
  background-position: 50% 50%;
}

.collection-list {
  display: none;
  margin-bottom: -64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.collection-list-wrapper {
  margin-top: 32px;
  margin-bottom: 96px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 235px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none;
}

.text-block {
  margin-bottom: 16px;
  color: #000;
  text-align: left;
}

.text-block.article-link {
  margin-right: 16px;
  margin-bottom: -24px;
  margin-left: 16px;
  padding: 4px 8px;
  background-color: #f8f8fb;
  font-family: 'Work Sans', sans-serif;
  color: #1500ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.heading {
  margin-bottom: 64px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 0px;
  border-bottom: 1px solid #fff;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.heading-3 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Inknut Antiqua', sans-serif;
  color: #fff;
  font-size: 32pt;
  line-height: 64px;
  font-weight: 300;
  text-indent: -28px;
}

.text-span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-indent: 0px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span-2 {
  color: #fff;
  font-weight: 700;
}

.heading-4 {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 96px;
  border-bottom: 1px solid #000;
  font-family: 'Inknut Antiqua', sans-serif;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
}

.heading-4.topheader {
  margin-top: 24px;
  padding-top: 0px;
}

.heading-4.hide {
  display: none;
}

.empty-state {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Inknut Antiqua', sans-serif;
  text-align: center;
}

.paragraph {
  margin-top: 32px;
  margin-bottom: 96px;
  font-family: 'Work Sans', sans-serif;
  color: #212121;
  font-size: 20px;
  line-height: 38px;
  text-decoration: none;
}

.paragraph.linkpara {
  margin-top: 16px;
  margin-bottom: 96px;
  -webkit-column-count: 2;
  column-count: 2;
}

.paragraph.linkpara.footertext {
  color: #fff;
}

.paragraph.linkpara.closer {
  margin-bottom: 32px;
}

.paragraph.lessmargin {
  margin-bottom: 32px;
}

.paragraph.first-quote {
  text-indent: -11px;
}

.paragraph.first-quote.hide {
  display: none;
}

.paragraph.first {
  margin-bottom: 0px;
}

.paragraph.hide {
  display: none;
}

.navbar {
  margin-top: 0px;
  background-color: transparent;
}

.container-3 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 16px auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  padding: 16px 32px 16px 0px;
  font-family: 'Inknut Antiqua', sans-serif;
}

.nav-link.navhover {
  padding: 16px;
  background-color: #f8f8fb;
  opacity: 1;
  -webkit-transition: padding 200ms ease, background-color 200ms ease;
  transition: padding 200ms ease, background-color 200ms ease;
  color: rgba(0, 0, 0, 0.87);
}

.nav-link.navhover:hover {
  padding: 16px 12px 16px 20px;
  background-color: #fff;
  color: #1500ff;
}

.nav-menu {
  display: block;
}

.div-block-2 {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 95vh;
  background-color: #212121;
  background-image: none;
}

.container-4 {
  margin-bottom: 64px;
  padding-top: 96px;
  padding-right: 128px;
  padding-left: 128px;
  background-color: #fff;
}

.linklist {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #1500ff;
  line-height: 38px;
  text-decoration: none;
  cursor: pointer;
}

.linklist:hover {
  background-color: #1500ff;
  color: #fff;
}

.subhead {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: 'Inknut Antiqua', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.subhead.submitcontent {
  margin-bottom: 16px;
  background-color: transparent;
}

.book-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Space Mono', sans-serif;
  color: #000;
  text-decoration: none;
}

.book-links:hover {
  background-color: #f8f8fb;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.collection-list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 16px 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.book-block {
  margin-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #212121;
  text-align: center;
  letter-spacing: 0.5px;
}

.collection-list-wrapper-2 {
  display: none;
  margin-left: 10px;
}

.div-block-3 {
  width: 150px;
  height: 235px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.collection-item-2 {
  margin-bottom: 16px;
  padding-right: 0px;
  padding-left: 0px;
}

.quote {
  font-family: 'Inknut Antiqua', sans-serif;
  color: #1500ff;
  font-weight: 300;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100vh;
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #212121;
}

.container-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.footerhead {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 96px;
  border-bottom: 1px solid #fff;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 10pt;
  font-weight: 400;
}

.footerlinklist {
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
  color: #fff;
  line-height: 38px;
  text-decoration: none;
}

.footerlinklist:hover {
  background-color: #f8f8fb;
  color: #1500ff;
}

.paragraphtext {
  margin-top: 32px;
  margin-bottom: 96px;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 16pt;
  line-height: 38px;
  text-decoration: none;
}

.inspirationblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 35%;
  height: 235px;
  margin-right: 16px;
  margin-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: background-position 1500ms cubic-bezier(.23, 1, .32, 1);
  transition: background-position 1500ms cubic-bezier(.23, 1, .32, 1);
}

.inspirationblock.dribbble {
  background-color: #e84c88;
  background-image: url('../images/dribbble-5.svg');
  background-position: 0px 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.inspirationblock.dribbble:hover {
  background-position: 50% 50%;
  background-size: 150px;
}

.inspirationblock.behance {
  background-color: #0069ff;
  background-image: url('../images/behance-logo-1.jpg');
  background-position: 0px 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.inspirationblock.behance:hover {
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

.inspirationblock.producthunt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #d6522b;
  background-image: url('../images/product-hunt.svg');
  background-position: 0px 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.inspirationblock.producthunt:hover {
  background-position: 50% 50%;
  background-size: 150px;
}

.inspirationblock.httpster {
  border: 1px solid #000;
  background-color: #fff;
  background-image: url('../images/httpster.min.png');
  background-position: 8px 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.inspirationblock.httpster:hover {
  background-position: 50% 50%;
}

.inspirationblock.designmodo {
  width: 50%;
  background-color: #102c41;
  background-image: url('../images/designmodologo.png');
  background-position: 0px 50%;
  background-size: 75%;
  background-repeat: no-repeat;
  text-decoration: none;
}

.inspirationblock.designmodo:hover {
  background-position: 50% 50%;
  background-size: 75%;
}

.inspiration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -16px;
  margin-left: -16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.inspotitle {
  margin-right: 16px;
  margin-bottom: -12px;
  margin-left: 16px;
  padding: 4px 8px;
  background-color: #f8f8fb;
  text-decoration: none;
}

.text-block-3 {
  font-family: 'Work Sans', sans-serif;
  color: #1500ff;
  text-align: center;
  letter-spacing: 0.5px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #212121;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  text-align: center;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-5 {
  font-family: 'Inknut Antiqua', sans-serif;
  color: #212121;
  font-size: 24pt;
  text-align: left;
}

.text-block-4 {
  margin-bottom: 24px;
  font-family: 'Work Sans', sans-serif;
  color: #212121;
  font-size: 14pt;
  line-height: 18pt;
  text-align: left;
}

.image-4 {
  display: block;
  text-align: left;
}

.ghostbutton {
  padding: 16px 32px;
  border: 1px solid #000;
  background-color: #fff;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
  font-family: 'Space Mono', sans-serif;
  color: #212121;
}

.ghostbutton:hover {
  padding-right: 28px;
  padding-left: 36px;
}

.ghostbutton.w--current {
  padding: 16px 32px;
  border: 1px solid #212121;
  background-color: #fff;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
  font-family: 'Work Sans', sans-serif;
  color: #212121;
}

.ghostbutton.w--current:hover {
  padding-right: 28px;
  padding-left: 36px;
}

.buttonzone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header2 {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 35vh;
  background-color: #212121;
  background-image: none;
}

.container-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.field-label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.formfield {
  height: 48px;
  margin-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #212121;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  font-family: 'Work Sans', sans-serif;
}

.formfield:focus {
  border: 1px solid #1400ff;
}

.formfield.textarea {
  min-height: 128px;
  font-family: 'Work Sans', sans-serif;
}

.success-message {
  background-color: #fff;
}

.text-block-5 {
  font-family: 'Inknut Antiqua', sans-serif;
}

.error-message {
  padding: 16px;
  background-color: red;
  color: #fff;
}

.recaptcha {
  margin-bottom: 16px;
}

.solid-button {
  padding: 16px 32px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(63, 22, 22, 0);
  background-color: #1500ff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Inknut Antiqua', sans-serif;
  color: #fff;
}

.solid-button:hover {
  padding-right: 28px;
  padding-left: 36px;
  background-color: #e7e7ff;
  color: #1500ff;
}

.solid-button.w--current {
  padding: 16px 32px;
  border: 1px solid #212121;
  background-color: #fff;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
  font-family: 'Work Sans', sans-serif;
  color: #212121;
}

.solid-button.w--current:hover {
  padding-right: 28px;
  padding-left: 36px;
}

.solid-button.displaynone {
  display: none;
}

.degreelesslogowhite {
  width: 32px;
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.marketplaces {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-right: -16px;
  margin-left: -16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footerlinklist-privacy {
  background-color: #e7e7ff;
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
  color: rgba(0, 0, 0, 0.87);
  font-size: 12pt;
  text-decoration: none;
}

.footerlinklist-privacy:hover {
  color: hsla(0, 0%, 100%, 0.54);
}

@media screen and (max-width: 991px) {
  .collection-list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .heading-3 {
    margin-right: 24px;
    margin-left: 24px;
  }

  .container-4 {
    padding-top: 48px;
    padding-right: 64px;
    padding-left: 64px;
  }
}

@media screen and (max-width: 767px) {
  .collection-item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 64px;
  }

  .collection-list {
    width: 100%;
  }

  .collection-list-wrapper {
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .link-block {
    width: 100%;
  }

  .text-block.article-link {
    margin-bottom: -16px;
  }

  .body {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading {
    margin-top: 96px;
  }

  .container-2 {
    height: 700px;
    min-height: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .container-3 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .nav-link.navhover:hover {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nav-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2;
    margin-left: 0px;
  }

  .container-4 {
    padding-right: 32px;
    padding-left: 32px;
  }

  .menu-button {
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .collection-list-wrapper-2 {
    margin-left: 0px;
  }

  .inspirationblock {
    width: 90%;
    height: 250px;
    margin-right: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
  }

  .inspirationblock.designmodo {
    width: 50%;
  }

  .inspiration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container-small {
    padding-right: 16px;
    padding-left: 16px;
  }

  .marketplaces {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .heading-3 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18pt;
    line-height: 28pt;
    text-indent: -16px;
  }

  .paragraph.linkpara {
    -webkit-column-count: 1;
    column-count: 1;
  }

  .inspirationblock {
    width: 90%;
  }

  .inspirationblock.dribbble {
    width: 90%;
  }

  .inspirationblock.designmodo {
    width: 90%;
  }

  .degreelesslogowhite {
    max-height: 32px;
    max-width: 32px;
    margin-top: 16px;
  }
}

#w-node-bbca42ec-ad47-e0f1-3757-daef26401034-14cb06e7 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-bbca42ec-ad47-e0f1-3757-daef26401034-64438d0f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

